{% extends 'base.html' %}
{% block encabezado %}Editar Producto: {{ producto.descripcion }}{% endblock %}
{% load bootstrap %}
{% load static %} 
{% block contenido %}   
    <div class="container">
        <div class="row">
            <legend>Datos Migrados</legend>
            <div class="col-9">
                <div class="row"> 
                    <div class="col-3"><strong>Código: </strong></div>
                    <div class="col-4">{{ producto.codigo }}</div>
                </div>
                <div class="row">
                    <div class="col-3"><strong>Descripción: </strong></div>
                    <div class="col-4">{{ producto.descripcion }}</div>
                </div>
                <div class="row">
                    <div class="col-3"><strong>Línea: </strong></div>
                    <div class="col-4">{{ producto.linea }}</div>
                </div>
                <div class="row">
                    <div class="col-3"><strong>Clasificación: </strong></div>
                    <div class="col-8">{{ producto.clasificacion }}</div>
                </div>
                <hr>
            </div>
        </div>
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="row">
                <legend>{{ form.detalle.label }}</legend>
                <div class="col-9">
                    {{ form.detalle }}
                </div>
            </div>
            <br>
             <div class="row">
                <legend>{{ form.especies.label }}</legend>
                <div class="col-8">
                    <div class="row">
                    {% for checkbox in form.especies %}
                        <div class="col-2">
                            {{ checkbox }}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <legend>Imágenes</legend>
                
                <div class="col-9">
                    {{ formset.management_form }}
                    {% for imagenform in formset %}
                            <div id="imageform_{{ forloop.counter }}" >
                                {{ imagenform }}
                                <hr>
                            </div>
                    {% endfor %}
                    <a class="text-secondary" data-imgcount="{{ count }}" id="add_img" action="#">
                        <i class="fas fa-fw fa-plus"></i>Agregar más fotos
                    </a>
                </div>
            </div>
            <br>
            <div class="row" >
                <div class="col-9" >
                    <div style="float: right;">
                        <input class="btn btn-info" type="submit" value="Guardar Cambios" />
                    </div>
                </div>
            </div>
        </form>
        <hr>
    
    </div>

   

{% load static %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<script type="text/javascript">
    $( ".control-label" ).css( "display", "none" );
    var counter = $( "#add_img" ).data('imgcount')
    hide()
    function hide(){
        for (let i = 0; i < 11; i++) {
        if (i <= counter){
            $( ("#imageform_"+i) ).css( "display", "block" );
        }
        else{
            $( ("#imageform_"+i) ).css( "display", "none" );
        }
    }
    }

    $( "#add_img" ).click(function() {
        counter += 1
        hide()
    });

</script>

{% endblock %}