{% extends 'base.html' %}
{% block encabezado %}Maestro de Productos{% endblock %}
{% block contenido %}
	<div class="card shadow mb-4">
        <div class="card-header py-3">
     		
        </div>
        <div class="card-body">
            <div class="table-responsive">
	            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
				    	<tr>
				      		<th>Código</th>
				      		<th>Descripción</th>
				      	</tr>
				    </thead>
			      	<tbody>
						{% for producto in productos %}
							<tr>
								<td>{{ producto.codigo }}</td>
								<td><a href="{% url 'detalle_producto_generico' pk=producto.codigo %}">{{ producto.descripcion }}</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% block endbody %}

<!-- Page level plugins -->
<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/static/js/demo/datatables-demo.js"></script>

<script>
     $(document).ready(function(){
        $('.dropdown-toggle').dropdown()

        $( ".dropdown-item" ).click(function() {
        	$('#grupo-input').val($(this).data("value"))
		});
    });

</script>
{% endblock %}

{% endblock %}

